<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Verge Web Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/styles.css" />
</head>

<body>
    <h1>The Verge Web Scraper</h1>
    <button class="create-note-btn"><a href="/scrape">Scape New Articles</a></button>
    <button class="delete-note-btn"></button>
    <div class="wrapper">
        {{{ body }}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/app.js"></script>
</body>

</html>