<div id="articles">
    {{#each Headline}}
    <div data-id="{{_id}}">
        <h2 class="headline-title">{{title}}</h2>
        <em class="headline-author">{{author}}</em>
        <button id="save-headline-btn">Save</button>
    </div>
    {{/each}}
</div>

<div id="notes">

</div>